<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Chapters</title>
    <link rel="stylesheet" type="text/css" href="site.css">
    <script src="/site.js" type="module"></script>
</head>
<body id="mainBody">
<button id="darkModeToggle" type="button">🌙</button>
<nav>
    <ul>
        <li class="dropdown">
            <a id="navigation-dropdown" href="#">Navigation</a>
            <ul class="dropdown-content">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="/chapters">Chapters</a></li>
                <li><a href="/illustrations">Illustrations</a></li>
            </ul>
        </li>
    </ul>
</nav>
<h1>List of Chapters</h1>
<ul>
    <% chapters.forEach(function(chapter, index) { %>
        <li><a href="#" class="chapter-link" data-chapter-number="<%= index + 1 %>"><%= chapter.title %></a></li>
    <% }); %>
</ul>
<div id="chapterTitle"></div>
<script>
  document.querySelectorAll('.chapter-link').forEach(link => {
    link.addEventListener('click', (event) => {
      event.preventDefault();
      const chapterNumber = event.target.dataset.chapterNumber;
      const chapterTitle = event.target.textContent;
      const newWindow = window.open('', '_blank');
      newWindow.document.write(`<h1>Chapter ${chapterNumber}</h1>`);
      newWindow.document.write(`<p>${chapterTitle}</p>`);
    });
  });
</script>
</body>
</html>
